[*.cs]

dotnet_diagnostic.SA1300.severity = none
dotnet_diagnostic.SA1309.severity = none

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none
# CA1822: Mark members as static
dotnet_diagnostic.CA1307.severity = none
# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.IDE1006.severity = none
